// Variables declared

$general-padding: 12px;

$break-xs: 600px;
$break-sm: 960px;
$break-md: 1280px;
$break-lg: 1920px;

$start-xs: 0;
$start-sm: 600px;
$start-md: 960px;
$start-lg: 1280px;
$start-xl: 1920px;

$end-xs: 599px;
$end-sm: 959px;
$end-md: 1279px;
$end-lg: 1919px;
